
@{
    ViewBag.Title = "Account";
}

<h2 class="text-center">Bellevue High School Cheerleading</h2>

<div style="width:100%">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-sm-10">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="mb-2">Member Profile: Brian Griffith</h5>

                            <img class="rounded-circle border-dark" width="160" height="160" src="https://media.apnarm.net.au/media/images/2007/03/21/ACFMFARQaqli_ct300x300.jpg" />
                            <div class="row">
                                <div class="col-md-4">
                                    <h6 class="text-right mt-2">Member of: </h6>
                                </div>
                                <div class="col-md-4">
                                    <a href="@Url.Action("FreshmanSquad", "Home")">
                                        <p class="text-left mb-1 mt-2">Freshman Squad</p>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h6 class="text-right">Student(s): </h6>
                                </div>
                                <div class="col-md-4">
                                    <p class="text-left mb-1">Molly Griffith</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h6 class="text-right">Spouse: </h6>
                                </div>
                                <div class="col-md-4">
                                    
                                        <p class="text-left mb-1">Amy Griffith</p>
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h6 class="text-right">Cell: </h6>
                                </div>
                                <div class="col-md-4">
                                    <p class="text-left mb-1">(206)555-6789</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h6 class="text-right">Email: </h6>
                                </div>
                                <div class="col-md-5">
                                    <a href="mailto:example@domain.com">
                                        <p class="text-left mb-1">example@domain.com</p>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h6 class="text-right">Home Address: </h6>
                                </div>
                                <div class="col-md-4">
                                    <a href="#">
                                        <p class="mb-0">999 Pizza Ave</p>
                                        <p>Bellevue, WA 12345</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <a href="#">
                                <h6 class="text-right mr-1">Edit Profile</h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

