
@{
    ViewBag.Title = "Calendar";
}

<h2>Calendar</h2>

<!DOCTYPE html>
<html>
<head>
    <style>
        table, th, td {
            border: 3px solid black;
        }
        table{
            table-layout: fixed;
        }
        th {
            height: 50px;
            -webkit-column-span: all;
            text-align: center;
        }
        td {
            height: 100px;
            vertical-align: top;
            text-align: left;
            padding: 5px;
        }
        td.otherMonth {
            height: 100px;
            vertical-align: top;
            text-align: left;
            padding: 5px;
            color: lightgray;
        }
        td.weekDay {
            height: 50px;
            text-align: center;
            vertical-align: middle;
            padding: 5px;
        }
    </style>
</head>
<body>

    <table style="width:100%">
        <tr>
            <th colspan="7"> May 2019 </th>
        </tr>

        <tr>
            <td class="weekDay">Sunday</td>
            <td class="weekDay">Monday</td2>
            <td class="weekDay">Tuesday</td>
            <td class="weekDay">Wednesday</td>
            <td class="weekDay">Thursday</td>
            <td class="weekDay">Friday</td>
            <td class="weekDay">Saturday</td>
        </tr>

        <tr>
            <td class="otherMonth">29</td>
            <td class="otherMonth">29</td>
            <td class="otherMonth">30</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
        </tr>

        <tr>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
        </tr>

        <tr>
            <td>12</td>
            <td>13</td>
            <td>14</td>
            <td>15</td>
            <td>16</td>
            <td>17</td>
            <td>18</td>
        </tr>

        <tr>
            <td>19</td>
            <td>20</td>
            <td>21</td>
            <td>22</td>
            <td>23</td>
            <td>24</td>
            <td>25</td>
        </tr>

        <tr>
            <td>26</td>
            <td>27</td>
            <td>28</td>
            <td>29</td>
            <td>30</td>
            <td>31</td>
            <td class="otherMonth">1</td>
        </tr>

        <tr>
            <td class="otherMonth">2</td>
            <td class="otherMonth">3</td>
            <td class="otherMonth">4</td>
            <td class="otherMonth">5</td>
            <td class="otherMonth">6</td>
            <td class="otherMonth">7</td>
            <td class="otherMonth">8</td>

        </tr>
    </table>

</body>
</html>




