
@{
    ViewBag.Title = "Calendar";
}

<h2>Calendar</h2>

<!DOCTYPE html>
<html>
<head>
    <style>
        table, th, td {
            border: 3px solid black;
        }
        th {
            height: 100px;
        }
        td {
            height: 300px;
            vertical-align: top;
            padding: 5px;
        }
    </style>
</head>
<body>

    <table style="width:100%">
        <tr>
            <th> May 2019 </th>
        </tr>

        <tr>
            <td ALIGN=center>Sunday</td>
            <td ALIGN=center>Monday</td>
            <td ALIGN=center>Tuesday</td>
            <td ALIGN=center>Wednesday</td>
            <td ALIGN=center>Thursday</td>
            <td ALIGN=center>Friday</td>
            <td ALIGN=center>Saturday</td>
        </tr>

        <tr>
            <td ALIGN=left>29</td>
            <td ALIGN="left">29</td>
            <td ALIGN=center>30</td>
            <td ALIGN=center>1</td>
            <td ALIGN=center>2</td>
            <td ALIGN=center>3</td>
            <td ALIGN=center>4</td>
        </tr>

        <tr>
            <td ALIGN=center>5</td>
            <td ALIGN=center>6</td>
            <td ALIGN=center>7</td>
            <td ALIGN=center>8</td>
            <td ALIGN=center>9</td>
            <td ALIGN=center>10</td>
            <td ALIGN=center>11</td>
        </tr>

        <tr>
            <td ALIGN=center>12</td>
            <td ALIGN=center>13</td>
            <td ALIGN=center>14</td>
            <td ALIGN=center>15</td>
            <td ALIGN=center>16</td>
            <td ALIGN=center>17</td>
            <td ALIGN=center>18</td>
        </tr>

        <tr>
            <td ALIGN=center>19</td>
            <td ALIGN=center>20</td>
            <td ALIGN=center>21</td>
            <td ALIGN=center>22</td>
            <td ALIGN=center>23</td>
            <td ALIGN=center>24</td>
            <td ALIGN=center>25</td>
        </tr>

        <tr>
            <td ALIGN=center>26</td>
            <td ALIGN=center>27</td>
            <td ALIGN=center>28</td>
            <td ALIGN=center>29</td>
            <td ALIGN=center>30</td>
            <td ALIGN=center>31</td>
            <td ALIGN=center>1</td>
        </tr>

        <tr>
            <td ALIGN=center>2</td>
            <td ALIGN=center>3</td>
            <td ALIGN=center>4</td>
            <td ALIGN=center>5</td>
            <td ALIGN=center>6</td>
            <td ALIGN=center>7</td>
            <td ALIGN=center>8</td>

        </tr>
    </table>

</body>
</html>




