
@{
    ViewBag.Title = "Calendar";
}

<h2>Calendar</h2>
<TABLE BORDER=45 CELLSPACING=45 CELLPADDING=45>
    <TR>
        <TD COLSPAN="7" ALIGN=center><B>May 2019</B></TD>
    </TR>

    <TR>
        <TD ALIGN=center>Sunday</TD>
        <TD ALIGN=center>Monday</TD>
        <TD ALIGN=center>Tuesday</TD>
        <TD ALIGN=center>Wednesday</TD>
        <TD ALIGN=center>Thursday</TD>
        <TD ALIGN=center>Friday</TD>
        <TD ALIGN=center>Saturday</TD>
    </TR>

    <TR>
        <TD ALIGN=center>29</TD>
        <TD ALIGN=center>29</TD>
        <TD ALIGN=center>30</TD>
        <TD ALIGN=center>1</TD>
        <TD ALIGN=center>2</TD>
        <TD ALIGN=center>3</TD>
        <TD ALIGN=center>4</TD>
    </TR>

    <TR>
        <TD ALIGN=center>5</TD>
        <TD ALIGN=center>6</TD>
        <TD ALIGN=center>7</TD>
        <TD ALIGN=center>8</TD>
        <TD ALIGN=center>9</TD>
        <TD ALIGN=center>10</TD>
        <TD ALIGN=center>11</TD>
    </TR>

    <TR>
        <TD ALIGN=center>12</TD>
        <TD ALIGN=center>13</TD>
        <TD ALIGN=center>14</TD>
        <TD ALIGN=center>15</TD>
        <TD ALIGN=center>16</TD>
        <TD ALIGN=center>17</TD>
        <TD ALIGN=center>18</TD>
    </TR>

    <TR>
        <TD ALIGN=center>19</TD>
        <TD ALIGN=center>20</TD>
        <TD ALIGN=center>21</TD>
        <TD ALIGN=center>22</TD>
        <TD ALIGN=center>23</TD>
        <TD ALIGN=center>24</TD>
        <TD ALIGN=center>25</TD>
    </TR>

    <TR>
        <TD ALIGN=center>26</TD>
        <TD ALIGN=center>27</TD>
        <TD ALIGN=center>28</TD>
        <TD ALIGN=center>29</TD>
        <TD ALIGN=center>30</TD>
        <TD ALIGN=center>31</TD>
        <TD ALIGN=center>1</TD>
    </TR>

    <TR>
        <TD ALIGN=center>2</TD>
        <TD ALIGN=center>3</TD>
        <TD ALIGN=center>4</TD>
        <TD ALIGN=center>5</TD>
        <TD ALIGN=center>6</TD>
        <TD ALIGN=center>7</TD>
        <TD ALIGN=center>8</TD>

    </TR>

</TABLE>


