
<h2 class="text-center">Bellevue High School Cheerleading</h2>

<!DOCTYPE html>
<html>
<head>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <style>
        @@import url(https://fonts.googleapis.com/css?family=Open+Sans);

        * {
            margin: 0;
            padding: 0;
            color: inherit;
            text-decoration: none;
        }

        /*////////// SCROLLBAR ////////*/


        ::-webkit-scrollbar {
            width: 5px;
        }

            ::-webkit-scrollbar:hover {
                width: 10px;
            }


        ::-webkit-scrollbar-track {
            background: #000;
        }

        ::-webkit-scrollbar-thumb {
            background: #D33;
        }

            ::-webkit-scrollbar-thumb:hover {
                background: #E44;
            }




        body {
            width: auto;
        }

        .main {
            width: 100%;
            margin: auto;
            min-width: 900px;
        }

        .content {
            display: inline-block;
            width: 69%;
        }

        h2 {
            font-size: 28pt;
            color: #555;
            font-weight: 100;
            background-color: #FFF;
            padding: 5px 15px;
        }

        .sticky.stuck {
            border-bottom: thin solid rgba(0,0,0,.2);
            box-shadow: 0 10px 15px -10px rgba(0,0,0,.1);
        }

        p {
            font-size: 12pt;
            margin: 10px 0;
            text-indent: 2em;
        }

        article {
            margin: 20px;
            background: #FFF;
            font-family: "Open Sans";
            box-shadow: 1px 2px 3px rgba(0,0,0,.2);
            position: relative;
        }

        .art-text {
            padding: 10px 20px;
            overflow: auto;
        }

        .header-img {
            width: 100%;
            display: block;
        }

        .art-text img {
            max-width: 100%;
            float: left;
            margin: 10px 10px 0 0;
        }

        .embedded-video {
            margin: 0;
            padding: 0;
        }

        hr {
            margin: 10px 0;
            border: none;
            border-top: thin solid rgba(0,0,0,.1);
        }

        article:before {
            content: "\f05a";
            color: rgba(255,255,255,.9);
            display: block;
            position: absolute;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            text-align: center;
            padding: 5px 10px;
            top: 0px;
            right: 0px;
            border-bottom-left-radius: 20px;
            z-index: 100;
        }

        article:after {
            position: absolute;
            font-size: 10px;
            padding: 3px 5px;
            bottom: 0px;
            right: 0px;
            background: #FAFAFA;
            color: #AAA;
        }

        article.info:before {
            content: "\f05a";
            background: #29F;
        }

        article.video:before {
            content: "\f03d";
            background: #82F;
        }

        article.announcement:before {
            content: "\f0a1";
            background-color: #E32;
        }

        aside {
            display: inline-block;
            width: 30%;
            vertical-align: top;
        }

        .calendar {
            margin: 20px auto;
            min-width: 150px;
            max-width: 240px;
        }

        .ui-datepicker-header {
            color: #333;
            font-weight: bold;
            line-height: 30px;
        }

        .ui-datepicker {
            text-align: center;
            font-family: "Helvetica";
            color: #666;
            position: relative;
        }

        .date-block {
            text-align: center;
            background: #D32;
            font-family: "Helvetica";
            color: #F4F4F4;
            font-size: 18pt;
            padding: 10px;
        }

        .date-day {
            font-size: 24pt;
        }

        .date-date {
            font-size: 48pt;
        }

        .ui-datepicker-prev, .ui-datepicker-next {
            display: inline-block;
            font-family: FontAwesome;
            width: 52px;
            height: 30px;
            text-align: center;
            cursor: pointer;
            background-color: none;
            background-repeat: no-repeat;
            overflow: hidden;
            position: absolute;
            color: #D54;
        }

        .ui-datepicker-prev {
            left: 0;
            border-radius: 0 0 30px 0;
        }

        .ui-datepicker-next {
            right: 0;
            border-radius: 0 0 0 30px;
        }

        .ui-datepicker-prev:before {
            content: "\f053";
            display: block;
        }

        .ui-datepicker-next:before {
            content: "\f054";
            display: block;
        }

        .ui-datepicker-year {
            font-weight: normal;
            color: #999;
        }


        .ui-datepicker-month {
            font-weight: bold;
            background: #EEE;
            font-size: 12pt;
            border: none;
        }

        .ui-datepicker-calendar {
            border-collapse: collapse;
            width: 100%;
            margin-top: 10px;
            text-align: center;
            font-family: "Helvetica";
        }

        .ui-datepicker td a, .ui-datepicker td span {
            text-decoration: none;
            display: block;
            width: 100%;
            font-size: 12px;
            padding: 10px 0;
            color: #333;
            border-radius: 50%;
            transition: all .1s ease;
        }

        .ui-datepicker td span {
            color: #BBB;
        }

        .ui-datepicker .ui-state-active {
            background: #BBB;
        }

        .ui-datepicker .ui-state-highlight {
            background: #FFF;
            color: #D32;
        }


        .ui-datepicker a:hover {
            background: #d32;
            color: #FAFAFA;
        }

        .social-buttons a {
            display: inline-block;
            color: #555;
            font-size: 24pt;
            width: 15%;
            text-align: center;
        }

            .social-buttons a:hover {
                color: #D43;
                color: attr(data-color);
            }



        .twitter-timeline {
            width: 100%;
            min-width: 300px;
            height: 500px;
            border-radius: 10px;
        }

        /*//////////// FOOTER ///////////*/


        footer {
            background: #000;
            margin-top: 50px;
            padding-bottom: 10px;
            color: #222;
            text-align: center;
            font-family: "Open Sans";
        }

            footer .bottom {
                margin: 20px;
            }

            footer .footer-cell {
                display: inline-block;
                width: 25%;
                color: #555;
                text-align: left;
                vertical-align: top;
                padding: 10px;
                border-left: thin solid #111;
            }

        .footer-cell ul {
            list-style: none;
            padding-left: 15px;
            text-indent: -5px;
            font-size: 10pt;
        }

        .footer-social {
            background: #111;
            padding: 20px;
        }


            .footer-social ul {
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
                list-style: none;
            }

        .socialList li {
            display: inline-block;
            font-size: 3em;
            color: #555;
            width: 10%;
            min-width: 50px;
        }

            .socialList li a:hover {
                color: #D55;
                text-shadow: 0 0 5px #500;
            }

        .footer-cell h3 {
            display: block;
            padding-bottom: 3px;
        }


        .footer-cell a:hover {
            color: #999;
        }


        /*//////////// MEDIA ////////////*/

        @@media screen and (max-width:600px) {
            .main, aside, .container, .content, article {
                margin-left: 0;
                margin-right: 0;
                padding: 0;
                display: block;
                width: auto;
                min-width: 0;
            }

            .calendar {
                width: 100%;
                max-width: none;
            }


            .ui-datepicker td a, .ui-datepicker td span {
                border-radius: 0;
            }


            .twitter-feed {
                margin: 20px;
            }
        }
    </style>
</head>
<body>

    <div class="main">
        <div class="container">
            <div class="content">
                <article class="announcement" data-post-date="April 8">
                    <div class="sticky">

                        <h2>Cheerapalooza 2019!</h2>
                    </div>
                    <div class="art-text">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="text-right mt-1" style="font-weight: bold">Who: </h6>
                            </div>
                            <div class="col-sm-9">
                                <p style="text-indent: 0em; margin: 0px"> All squads </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="text-right mt-1" style="font-weight: bold">Date/Time: </h6>
                            </div>
                            <div class="col-sm-9">
                                <p style="text-indent: 0em; margin: 0px" >Saturday May 11th, 2019 8:00am-6:00pm</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="text-right mt-1" style="font-weight: bold">Location: </h6>
                            </div>
                            <div class="col-sm-9">
                                <p style="text-indent: 0em; margin: 0px" >Tacoma Dome</p>
                                <p style="text-indent: 0em; margin: 0px">2727 E D St <br /> Tacoma, WA 98421</p>
                            </div>
                        </div>

                        
                        <div class="row">
                            <div class="col">
                                <p style="text-indent: 0em">
                                    The competition will be at the <a href="https://maps.google/com/api=1&query=Tacoma Dome">Tacoma Dome</a> from 9:00am-6:00pm, Saturday, May 11th.
                                    Please have your student arrive at the Tacoma Dome no later than 8:00am so that they
                                    may find the staging area and warm up with the squad. <span style="font-weight: bold;">
                                        Transportation will not be
                                        provided by the school.
                                    </span>
                                    However, carpool sign-ups will be available (please sign-up below).
                                </p> 
                                
                            </div>
                        </div>
                        
                        

                    </div>
                </article>

                <article class="info" >
                    <h2 class="sticky">Uniform Requirements</h2>
                    

                    <div class="art-text">
                        <p style="text-indent: 0em">
                            Please reference the uniform requirements for each squad below.
                            If you have not already done so, the uniform may be purchased at the provided link.
                        </p>

                        <div class="row">
                            <div class="col">
                                <p style="font-weight: bold;">Freshman Squad Uniform:</p>
                            </div>
                            <div class="col">
                                <p><a href="https://www.cheerleading.com/classic-pkg-lvl1-2017-39d.html" target="_blank">Classic Uniform</a></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p style="font-weight: bold;">Junior Varsity Uniform:</p>
                            </div>
                            <div class="col">
                                <p><a href="https://www.cheerleading.com/classic-pkg-lvl1-2017-39d.html" target="_blank">Awesome Uniform</a></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p style="font-weight: bold;">Varsity Uniform</p>
                            </div>
                            <div class="col">
                                <p><a href="https://www.cheerleading.com/classic-pkg-lvl1-2017-39d.html" target="_blank">Super Awesome Uniform</a></p>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="info">
                    <h2 class="sticky">Itinerary</h2>
                    
                    <div style="overflow: auto">
                        <table class="table table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Time</th>
                                    <th scope="col">Activity</th>
                                    <th scope="col">Location</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr>
                                    <td>8:00am-8:45am</td>
                                    <td>Warm-up</td>
                                    <td>Warm-up Area</td>
                                </tr>
                                <tr>
                                    <td>8:45am-9:00am</td>
                                    <td>Find seating in front of main stage</td>
                                    <td>Main Stage</td>
                                </tr>
                                <tr>
                                    <td>9:00am-9:30am</td>
                                    <td>Opening ceremonies</td>
                                    <td>Main Stage</td>
                                </tr>
                                <tr>
                                    <td>9:30am-11:00am</td>
                                    <td>First Round</td>
                                    <td>Blue Stage</td>
                                </tr>
                                <tr>
                                    <td>11:30am-1:00pm</td>
                                    <td>Second Round</td>
                                    <td>Green Stage</td>


                                </tr>
                                <tr>
                                    <td>1:00pm-2:00pm</td>
                                    <td>Lunch</td>
                                    <td>Warm-up Area</td>
                                </tr>
                                <tr>
                                    <td>2:00pm-3:30pm</td>
                                    <td>Third Round</td>
                                    <td>Blue Stage</td>

                                </tr>
                                <tr>
                                    <td>3:30pm-4:00pm</td>
                                    <td>Finalists Announced</td>
                                    <td>Main Stage</td>
                                </tr>
                                <tr>
                                    <td>4:00pm-4:30pm</td>
                                    <td>Prepare for Final Round</td>
                                    <td>Warm up Area</td>
                                </tr>
                                <tr>
                                    <td>4:30pm-5:30pm</td>
                                    <td>Final Round</td>
                                    <td>Main Stage</td>

                                </tr>
                                <tr>
                                    <td>5:30pm-6:00pm</td>
                                    <td>Closing Ceremonies</td>
                                    <td>Main Stage</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </article>
                <article class="info">
                    <h2 class="sticky">Volunteer Opportunities</h2>
                    <div class="row">
                        <div class="col-md-8 ml-3 mt-2">
                            Parent Chaperone: 0/2
                            
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary mb-1" type="button">Sign Up</button>
                            
                        </div>
                        <div class="col-md-1">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 ml-3 mt-2" id="toggleSignUp"> 
                            Bring: juice and oranges 0/1
                        </div>
                        <div class="col-md-3">
 
                            <button id ="toggleButton" class="btn btn-primary mb-1" onclick="toggleSnackSignUp()" type="button">Sign Up</button>
                            
                        </div>
                        <div class="col-md-1">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 ml-3 mt-2">

                            Bring: sandwiches and snacks: 0/1
                        </div>
                        <div class="col-md-3">

                            <button class="btn btn-primary mb-1" type="button">Sign Up</button>
                        </div>
                        <div class="col-md-1">

                        </div>
                    </div>


                </article>
                <article class="info">
                    <h2 class="sticky">Carpool Sign-up</h2>
                    <div class="row">
                        <div class="col ml-3">
                            <p style="text-indent: 0em;" class="ml-2">
                                If your child does not need transportation to the event, ignore this section.
                                If you would like to provide a carpool for the event, please add your carpool
                                below. 
                            </p>
                            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModal">Add Carpool</button>

                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Carpool Volunteer</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Carpool submission form. Provide car make and model, 
                                            insurance information, driving record, driver's license, etc.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p>Select Carpool:</p>
                            <div class="form-check disabled">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optradio" disabled>Keanu Reeves (3/3)
                                </label>
                            </div>
                            <div class="form-check disabled">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optradio" disabled>Halle Berry (4/4)
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label" >
                                    <input type="radio" class="form-check-input" name="optradio" ><span id="DarrenBrownRadio">Darren Brown (2/4)</span>
                                </label>
                            </div>
                            <button id ="carpoolButton" class="btn btn-primary mt-1 mb-2" type="button" onclick="toggleCarpoolButton()">Confirm</button>

                        </div>
                    </div>  
                </article>
            </div>

            <aside>
                <div class="calendar">
                    <div class="date-block">
                        <div class="date-day">Saturday</div>
                        <div class="date-date">11</div>
                        <span class="date-month">May</span>,
                        <span class="date-year">2019</span>
                    </div>
                </div>
                <hr />
                <div>
                    <!-- Place a map here; either an image that links to google maps, or an actual maps api-->
                    <div id="map-container-google-1" class="map-container">
                        <iframe src="https://maps.google.com/maps?q=Tacoma%20Dome&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                                style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <hr />
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h6>To-do List</h6>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Waiver
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Photo Release
                                    </label>
                                </div>
                                <div id="item" style="display:none;">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                        <label class="form-check-label" for="defaultCheck1">
                                            Bring juice and oranges
                                        </label>
                                    </div>
                                </div>
                                <p id="warning" style="color: red; text-align: left; text-indent: 0em">You have not signed up for any volunteer tasks yet.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>

    <script>
        function toggleSnackSignUp() {
            var x = document.getElementById("toggleSignUp");
            if (x.innerHTML === "Bring: juice and oranges 0/1") {
                x.innerHTML = "Bring: juice and oranges 1/1";
                toggleSnackList();
                toggleButtonAppearance();
            } else {
                x.innerHTML = "Bring: juice and oranges 0/1";
            }

        }

        function toggleButtonAppearance() {
            var x = document.getElementById("toggleButton");
            x.style.background = "Green"; 
            x.innerHTML = "Signed Up!";
        }

        function toggleCarpoolButton() {
            var x = document.getElementById("carpoolButton");
            x.style.background = "Green";
            x.innerHTML = "Confirmed!";
            var y = document.getElementById("DarrenBrownRadio");
            y.innerHTML = "Darren Brown (3/4)";
        }

        function toggleSnackList() {
            $("#item").toggle("slow");
            var x = document.getElementById("warning");
            x.innerHTML = ""; 
        }


    </script>

</body>
</html>





