@{
    ViewBag.Title = "Home";
}
<h2 class="text-center">Bellevue High Cheerleading</h2>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-sm-10">


            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h2>Frequently Asked Questions</h2>
                            
                            <br />
                            <h5>When are practices scheduled?</h5>
                            <p> <a href="#">Varsity Squad</a> practices M-F from 3-5pm in the school gymnasium. 
                            <a href="#">Junior Varsity </a>practices M, W, F from 3pm-5pm in the school gymnasium, 
                            and <a href="@Url.Action("FreshmanSquad", "Home")">Freshman Squad</a> practices 
                            T, Th from 5pm-7pm in the school gymnasium. </p>
                            
                            <h5>What snacks can we bring?</h5>
                            <p>Acceptable snacks includes pizza, tacos, ice cream, oranges, and sandwiches. For drinks, the girls
                            like Mountain Dew Code Red, Gatorade, and Capri-Sun.</p>
                            
                            <h5>Where can I buy uniforms?</h5>
                            <p>Uniforms can be bough at <a href="#">www.theuniformstore.com</a>.</p>
                            
                            <h5>What does gluten-free mean?</h5>
                            <p>Gluten-free means the absense of gluten in the diet. Some people 
                            restrict their gluten intake for dietary or health reasons.</p>

                            <h5>Who should I contact if I have further questions?</h5>
                            <p>
                                You may contact the parent-coordinator <a href="#">Julie Fitzpatrick</a>.
                                Her cell number is (206)555-5555, and her email is <a href="mailto:example@domain.com">example@domain.com</a>.
                                Alternatively, you may use TeamSpace's <a href="@Url.Action("Messages","Home")">Messaging</a>
                                to contact her through the website.
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <img class="img-fluid" src="https://adminflexibility.co.uk/wp-content/uploads/2018/10/stick-man-thinking-question-everything-1.png" alt="thinking man">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>