
@{
    ViewBag.Title = "ProfileDarrenBrown";
}

<h2 class="text-center">Bellevue High School Cheerleading</h2>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-sm-10">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="mb-2">Member Profile: Darren Brown</h5>
                            
                            <img class="rounded-circle border-dark" width="160" height="160" src="https://media.istockphoto.com/photos/why-not-use-this-copyspace-its-free-picture-id181086342" />
                            <div class="row">
                                <div  class="col-md-4">
                                    <h6 class="text-right mt-2">Member of: </h6>
                                </div>
                                <div class="col-md-4">
                                    <a href="@Url.Action("FreshmanSquad", "Home")">
                                        <p class="text-left mb-1 mt-2" >Freshman Squad</p>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h6 class="text-right">Student(s): </h6>
                                </div>
                                <div class="col-md-4">
                                    <p class="text-left mb-1">Lorita Brown</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h6 class="text-right">Spouse: </h6>
                                </div>
                                <div class="col-md-4">
                                    <a href="#">
                                        <p class="text-left mb-1">Janelle Brown</p>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h6 class="text-right">Cell: </h6>
                                </div>
                                <div class="col-md-4">
                                    <p class="text-left mb-1">(206)555-1234</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h6 class="text-right">Email: </h6>
                                </div>
                                <div class="col-md-5">
                                    <a href="mailto:example@domain.com">
                                        <p class="text-left mb-1">example@domain.com</p>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h6 class="text-right">Home Address: </h6>
                                </div>
                                <div class="col-md-4">
                                    <a href="#">
                                        <p class="mb-0">123 Fake St</p>
                                        <p>Bellevue, WA 12345</p>
                                    </a>
                                </div>
                            </div> 
                        </div>
                        <div class="col-sm-4">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>