
<h2 class="text-center">Bellevue High Cheerleading</h2>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-sm-10">
            <h3 class="mt-3 mb-3">Current Cheer Squads</h3>

            <div class="card-deck">
                <div class="card border-dark">
                    <a href="@Url.Action("FreshmanSquad", "Home")">
                        <img class="card-img-top" src="~/Content/Img/WASUCheerleading.jpg" alt="Freshman Squad Image">
                        <div class="card-body">
                            <h5>Freshman</h5>
                        </div>
                    </a>
                </div>
                <div class="card border-dark">
                    <a href="#">
                        <img class="card-img-top" src="~/Content/Img/UWCheerleading.jpg" alt="Junior Varsity Squad Image">
                        <div class="card-body">
                            <h5>Junior Varsity</h5>
                        </div>
                    </a>
                </div>
                <div class="card border-dark">
                    <a href="#">
                        <img class="card-img-top" src="~/Content/Img/SeahawksCheerleading.jpg" alt="Varsity Squad Image">
                        <div class="card-body">
                            <h5>Varsity</h5>
                        </div>
                    </a>
                </div>
            </div>           
        </div>                   
    </div>    
</div>        
        
        
       
